<html>
<head>
    <title>Chat Room</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="howto.html">How to</a></li>
                <li><a href="teach.html">Teach me</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">

        </div>
        <div class="col-sm-8 text-left">
            <h3>How to ...</h3>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Description</h4>
                    <p>This chatBot developed in order to provide a platform for IT workers to assist them with common tasks during their daily work. <br>
                    The system developed in Python and use the Flask module for managing the chet socket and enabling the web UI interface interaction</p>
                    <hr><h4>How to install</h4>

                    <p>Please follow those steps in order to prepare your machine to run the bot:</p>
                    <p>1. install python - the system works with the latest 2.7.x version, you can download it from <a href="https://www.python.org/">python site</a></p>
                    <p>2. install pip (in case your Python version doesnt include it already.</p>
                    <p>3. Deploy the Flask module by following the instructions in <a href="http://flask.pocoo.org/docs/0.12/installation/">that site:</a> </p>
                    <p>4. Deploy the Flask SOcketIO module by following the instructions in <a href="https://flask-socketio.readthedocs.io/en/latest/">that site:</a> </p>

                    <hr><h4>How to run</h4>
                    <p>All you need to start using the bot is to:
                    <ul>
                        <li>run <b>"python main.py"</b> command from the root project folder</li>
                        <li>open that site index file url</li>

                    </ul></p>
                    <hr><h4>How to use</h4>
                    <p>1. Simply, you can ask any question you want. the bot will answer based on his knowledge and based on the operations that came OOTB</p>
                    <p>2. You can extend the bot knowledge by adding new questions and answers to the <b>"bot_knowledge.json"</b> file that exist in the dll folder</p>
                    <p>3. You can also extend the bot operations by creating new python script file, includes all functions you need and place it in the plugins folder</p>
                    <p>4. To use function, you can ask the bot chat <b>"get list of actions"</b> and you can run each one of them by entring the function name with <span class="label label-default"><font size="3">@</font></span> as aprefix</p>
                    <p>5. To run bash or cmd command you can enter the command with <span class="label label-default"><font size="3">#</font></span> as a prefix</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 sidenav">
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>



</body>
</html>